body{
    background: #FFFFFF;
    font-size: 8pt;
        }
.bold {
    font-weight:bold;
        }
.clr {
    clear: both;
      }
.cell.number{
    text-align: right;
    width: 170px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 15px;
}
#main_container {
    width:100%;
    margin:0 0 30px 0;
}
#main {
    width:740px;
    margin:auto;
}
#main .header_logo {
    text-align: center;
    margin:15px 0 15px 0;
    font-size: 24px;
    font-weight: bold;
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}
#main .wrapper {
    border:1px solid #EFECDC;
    background-color:#FFFFFF;
}
#main .wrapper-table {
    margin:0 0 0 0;
}
.short_cell {    
    /*border: 1px solid black;*/
    border-left: 1px solid black;
}
.short_row{
    border: 1px solid black;
}
.short_cell.text{
    text-align: left;
}
.short_cell.text.desc{
    width: 316px;

}
.short_cell.number{
    text-align: right;
}
.short_cell:last-child {
    border-right: 1px solid black;
}
tr:last-child .short_cell{
    border-bottom: 1px solid black;
}
@media all {
    .page-break  { display:none; }
    .thead_break{display: none; }
    .tfoot{display: none;}
}

@media print {
    .page-break  { display:block; page-break-before:always; }
    .noprint { display: none; }
    .thead_break{display: table-row;}
    .tfoot{display: table-row;}
}
body{
    margin-top: 145px;
}
#main .header_logo{
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 5px;
    line-height: 0.5em;
    padding-bottom: 10px;
    border-bottom: black solid 2px;
    position: fixed;
    top: 0;
    width: 740px;
    background-color: #fff

}
#main .header_logo img{
    height: 120px;
}
#main .wrapper{
    border:none;
}
.footer {
    background: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 80px;
    width: 740px;
    border-top: black solid 2px;
    font-weight: bold;
    font-size: 14px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer .spacer {
  font-size: 0.5em;
  padding: 0 10px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.page-break{
    height: 561px;
    width: 100%;
}    
.page-break:last-child{
    display: none;
}
.thead2 {
    border: 1px solid black;
}
.tfoot .short_cell {
    border-top: 1px solid black;
    border-left: 0px;
    border-right: 0px; 
}
thead {display: table-header-group;}
tfoot {display: table-footer-group;}
tbody {display: table-row-group;}
 
.total td{
    border-top: 1px solid black;
}
@page { size: A4;  margin: 0mm; }
#tfoot_table .cell{
    border: 1px solid black;
    font-size: 12pt;
    padding:1px;
} 
#tfoot_table{
    float: right;width: 40%;
}
#div-foter{
    margin-top: 10px;
}
.infos{
    font-size:12pt;
}
.infos_Entete{
    font-size:12pt;
    width: auto !important;
    float: right;
    margin-bottom: 20px;
}
.infos td:not(.codetype){
   border:solid 1px;
   padding: 3px;
   text-align:center;
   width:100px;
}
.infos_Entete td:not(.codetype){
    border:solid 1px;
    padding: 3px;
    text-align:center;
 }
.short_cell_breack{
  border-left: 1px solid black;
}
.short_cell_breack:last-child {
    border-right: 1px solid black;
}
tr:last-child .short_cell_breack{
    border-bottom: 1px solid black;
}
.infos .codetype,.infos_Entete .codetype{
    font-size: 1.5rem;
    color: black;
    margin: 0;
    font-weight: bold;
}
.infos .th_infos,.infos_Entete .th_infos{
    font-weight: bold;
}
/* #tfoot_table tr:last-child{
    background-color: #a0a79e;
} */
.col_Footer_Infos{
    border: 1px solid;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.tr-margen td{
    padding-top: 130px;
}
#table_line tr:last-child{
    border-bottom: 1px solid;
}
.col_Infos{
    border-left: 1px solid;
    border-right: 1px solid;
    font-size: 13px;
}
#tfoot_conges{
    float: left;
    width: 50%;
}
#tfoot_conges .cell {
    border: 1px solid black;
    font-size: 11pt;
    text-align:center;
    padding:1px;
    font-weight: bold;
}
.tfoot_conges_col {
    border: 1px solid;
    text-align: center;
    font-size: 13px;
}

